<%!
# retrieve settings
isLite = (cherrypy.config['product_type'] == 'lite' or cherrypy.config['product_type'] == 'lite_free')

if cherrypy.config['product_type'] == 'hunk':
    faviconFile = 'favicon_hunk.ico'
elif isLite:
    faviconFile = 'favicon_lite.ico'
else:
    faviconFile = 'favicon.ico'

faviconFilePath = '/static/img/' + faviconFile

config_qs = dict(autoload=1)
if hasattr(cherrypy.request, 'embed') and cherrypy.request.embed:
    config_qs['embed'] = 1
%>\

<%
''' Page-level execution. Executed once per load '''
minify_js = splunk.util.normalizeBoolean(cherrypy.config.get('minify_js'))
minify_css = splunk.util.normalizeBoolean(cherrypy.config.get('minify_css'))

app_name = app

splk_root = "/static"
splk_css_build = splk_root + "/css/build"
splk_js = splk_root + "/js"
splk_js_contrib = splk_js + "/contrib"
splk_js_profiles = splk_js + "/profiles"

app_root = "/".join([splk_root,"app",app_name])
app_img = app_root + "/img"

app_js = app_root + '/js'
app_js_pages = app_js + "/pages"
app_js_profiles = app_js + "/profiles"
app_js_contrib = app_js + '/contrib'

app_less = app_root + "/less"

app_js_build = app_root + '/js/build'
app_css_build = app_root + '/css'

pageJSName = page+'_page'

# optimized js and css
# app_css ="%s/common.css" % app_css_build
app_css ="%s/%s.css" % (app_css_build, page)
splunk_css = "%s/bootstrap.min.css" % splk_css_build
page_css = "%s/pages/%s/bootstrap.css" % (app_css_build ,str(page))

page_common_js = "%s/common.js" % app_js_build
page_js = "%s/%s.js" % (app_js_build ,pageJSName)
page_less = "%s/pages/%s/bootstrap.less" % (app_less ,page)

%>\

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure</title>
</head>
<style>
    #header {
        text-align: center;
        background-color: black;
        padding: 2px;
        color: white;
        font-size: large;
    }
    div.input_form {
        display:table;
        text-align: left;
        line-height:150%;
        font-size: 17px;
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 30px;
        padding-left: 70px;
        border: solid 1px black;
        border-radius: 25px;
        margin-top: 30px;
        margin-left: 20px;
        background-color: white;
        clear:left;
        width: 35%;
    }
    #result_section {
        display:table;
        float:right;
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 30px;
        padding-left: 50px;
        border: solid 1px black;
        border-radius: 25px;
        margin-top: 30px;
        margin-right: 50px;
        position: absolute;
        right: 0;
        top: 80px;
        width: 35%;
    }
    h4 {
        font-family: "Arial Rounded MT Bold";
    }

    div.UpgradeBar {
        position: relative;
        margin-bottom: 25px;
        width: 100%;
        height: 30px;
        background-color: #ddd;
    }

    div.ProgressBar {
        position: absolute;
        width: 0;
        height: 100%;
        background-color: black;
    }

    div.ProgressLabel {
        text-align: center;
        line-height: 30px;
        color: gray;
    }

    p.UpgradeText {
        position: relative;
        font-style: italic;
        top: 30px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

</style>
<body>
    <div id="header">
    <h3>Configure & Upgrade</h3>
    </div>

    <div class="input_form">
    <form id="cluster_info">
        <h4>Configure Environment for Splunk Checker</h4>
        Cluster ID:<br>
        <input id="cluster_id" required><br>
        <!--The 'value' tag here seems not work!-->
        <input type="checkbox" id="enable_cluster" value="True" checked>Enable cluster<br>
        <div id="rf_sf">
        RF=<input type="number" min="1" id="rf" required>SF=<input type="number" min="1" id="sf" required><br>
        </div>
        <input type="checkbox" id="enable_shcluster" value="True" checked>Enable search head cluster<br>
        Splunk URI (e.g. https://systest-auto-idx1:1901):<br>
        <input id="splunk_uri" type="url" required><br>
        Splunk Username:<br>
        <input id="username" required><br>
        Splunk Password:<br>
        <input id="password" required><br>
        Role:<br>
        <select id="role_select">
            <option selected disabled hidden style='display: none' value=''></option>
            <option value="master">Master</option>
            <option value="indexer">Indexer</option>
            <option value="searchhead">Search Head</option>
            <option value="forwarder">Forwarder</option>
        </select><br>
        Splunk Home (e.g. /root/splunk):<br>
        <input id="splunk_home"><br>
        Host (e.g. systest-auto-idx):<br>
        <input id="host" required><br>
        Host Username:<br>
        <input id="host_username" required><br>
        Host Password:<br>
        <input id="host_password" required><br>
        <input type="submit" id="add_peer_btn" value="Add Peer!">
    </form>
    </div>

    <div id="result_section">
    <h4>Cluster Info from REST:</h4>
    <ul id="info_list">
    </ul>
    </div>

    <div id=upgrade_container class="input_form">
    <form id="upgrade_cluster_form">
        <h4>Upgrade Specific Cluster</h4>
        Cluster ID:<br>
        <input id="cluster_id_upgrade" required><br>
        Branch (e.g. current/galaxy):<br>
        <input id="branch" required><br>
        Build (e.g. f2c836328108):<br>
        <input id="build" value="latest"><br>
        Package Type:<br>
        <select id="package_type">
            <option selected value="splunk">Splunk</option>
            <option value="universalforwarder">Universal Forwarder</option>
        </select><br>
        <input type="submit" id="upgrade_cluster_btn" value="Upgrade!"><br>
    </form>
        <br>
        <!--To insert progress bar here.-->
    </div>

    <!--Splunk will put the files under appserver/static/ to someplace like this-->
    <!--<script src="/static/app/splunk-checker/configuration.js"></script>-->
    <script src="${make_url('/config', _qs=config_qs)}"></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <script src="${make_url(splk_js_contrib + '/require.js')}"></script>
    <script src="${make_url(splk_js_profiles + '/shared.js')}"></script>
    <script>
        require.config({
            baseUrl: "${make_url('/static/js')}",
            shim: {
                'bootstrap': {
                    deps: ['jquery']
                },
                'select2': {
                    deps: ['jquery']
                }
            },
            paths: {
                'app': '../app/${app_name}/js',
                'lib': '../app/${app_name}/js/lib',
                'bootstrap': '../app/${app_name}/bootstrap/js/bootstrap.min',
                'select2': '../app/${app_name}/js/lib/select2-3.5.2'
            },
            enforceDefine: false,
            // paths: {'app': '../app/${app_name}/js'},
            waitSeconds: 0
        });
    </script>
    <script>
        require(['jquery','splunkjs/mvc/headerview'], function($){
            $(document).ready(function(){
                $("#enable_cluster").click(function(){
                    $("#rf_sf").toggle(this.checked);
                    if (this.checked) {
                        this.value = "True";
                    }
                    else{
                        this.value = "False";
                    }
                });
                $("#enable_shcluster").click(function(){
                    if (this.checked) {
                        this.value = "True";
                    }
                    else{
                        this.value = "False";
                    }
                });

                // Display the stored cluster info.
                $.ajax({
                    url:"/en-US/splunkd/__raw/servicesNS/nobody/splunk-checker/splunk_checker/store_cluster_info?output_mode=json",
                    type: 'GET',
                    success: function (data){
                        for (var i=0; i < data.entry.length; ++i) {
                            var json_obj = JSON.parse(data.entry[i].content.cluster_info);
                            var output = JSON.stringify(json_obj, null, 4);
                            $("#info_list").append("<li><pre>"+output+"</pre></li>")
                        }
                    }
                });

                // Handle submit button.
                $("#add_peer_btn").click(function(){
                    // Valid inputs.
                    var check_inputs = [$('#cluster_id'), $('#rf'), $('#sf'), $('#splunk_uri'), $('#username'), $('#password')];
                    for (var i = 0, len = check_inputs.length; i<len; ++i) {
                        if (!check_inputs[i].val()){
                            return;
                        }
                    }
                    if (!$('#role_select').val()) {
                        alert('Please select the role!');
                        return;
                    }

                    // Send the info.
                    $.ajax({
                        url:"/en-US/splunkd/__raw/servicesNS/nobody/splunk-checker/splunk_checker/store_cluster_info?output_mode=json",
                        type: 'POST',
                        data: {
                            name: "test",
                            cluster_id: $("#cluster_id").val(),
                            enable_cluster: $("#enable_cluster").val(),
                            enable_shcluster: $("#enable_shcluster").val(),
                            replication_factor: $("#rf").val(),
                            search_factor: $("#sf").val(),
                            splunk_uri: $("#splunk_uri").val(),
                            username: $("#username").val(),
                            password: $("#password").val(),
                            role: $("#role_select").val(),
                            splunk_home: $("#splunk_home").val(),
                            host: $("#host").val(),
                            host_username: $("#host_username").val(),
                            host_password: $("#host_password").val()
                        }
                    });

                    // Set the inputs using localStorage.
                    localStorage.setItem("cluster_id", $("#cluster_id").val());
                    localStorage.setItem("enable_cluster", $("#enable_cluster").val());
                    localStorage.setItem("enable_shcluster", $("#enable_shcluster").val());
                    localStorage.setItem("rf", $("#rf").val());
                    localStorage.setItem("sf", $("#sf").val());
                });
                if (!localStorage.getItem("enable_cluster")){
                    localStorage.setItem("enable_cluster", "True");
                }
                if (!localStorage.getItem("enable_shcluster")){
                    localStorage.setItem("enable_shcluster", "True");
                }
                // Keep the input value after submit.
                $("#cluster_id").val(localStorage.getItem("cluster_id"));
                $("#enable_cluster").val(localStorage.getItem("enable_cluster"));
                $("#enable_shcluster").val(localStorage.getItem("enable_shcluster"));
                $("#rf").val(localStorage.getItem("rf"));
                $("#sf").val(localStorage.getItem("sf"));

                var upgradeForm = document.getElementById("upgrade_cluster_form");
                upgradeForm.addEventListener("submit", submitUpgrade);

                function submitUpgrade(e){
                    // Prevent the submit action making page refresh.
                    e.preventDefault();

                    // Trigger the progress bar display again.
                    if (!IS_SHOW_PROGRESS) {
                        showProgress();
                        IS_SHOW_PROGRESS = true;
                    }

                    // Valid inputs.
                    var check_inputs = [$('#cluster_id_upgrade'), $('#branch')];
                    for (var i = 0, len = check_inputs.length; i<len; ++i) {
                        if (!check_inputs[i].val()){
                            return;
                        }
                    }

                    // Check if upgrade is in progress.
                    var cluster_id = $("#cluster_id_upgrade").val();
                    $.ajax({
                        url: "/en-US/splunkd/__raw/servicesNS/nobody/splunk-checker/splunk_checker/upgrade_cluster?output_mode=json",
                        type: 'GET',
                        success: function (data) {
                            // Analyze progress from rest endpoint.
                            for (var i = 0; i < data.entry.length; ++i) {
                                var json_obj = JSON.parse(data.entry[i].content.upgrade_progress);
                                if (json_obj.cluster_id === cluster_id) {
                                    alert("The upgrade is in progress!");
                                    return;
                                }
                            }
                            startUpgrade(cluster_id);
                        }
                    });
                }

                function startUpgrade(cluster_id) {
                    // Send upgrade info.
                    $.ajax({
                        url:"/en-US/splunkd/__raw/servicesNS/nobody/splunk-checker/splunk_checker/upgrade_cluster",
                        type: 'POST',
                        data: {
                            name: "test",
                            cluster_id: cluster_id,
                            branch: $("#branch").val(),
                            build: $("#build").val(),
                            package_type: $("#package_type").val()
                        },
                        success: function (data) {
                        }
                    });
                }

                var INIT_UPGRADE_CONTAINER = $("#upgrade_container").clone();
                var IS_SHOW_PROGRESS = true;
                showProgress();
                // Show progress of upgrade.
                function showProgress() {
                    // Reset to init appearance.
                    var upgrade_container = $("#upgrade_container");
                    upgrade_container.replaceWith(INIT_UPGRADE_CONTAINER);
                    upgrade_container = upgrade_container[0];
                    // Add event listener again since the form element is a fresh one now!
                    $("#upgrade_cluster_form")[0].addEventListener("submit", submitUpgrade);

                    var progress_elements = {};
                    var progress_done = {};
                    frame();

                    function frame() {
                        var label_content = "";
                        $.ajax({
                            url: "/en-US/splunkd/__raw/servicesNS/nobody/splunk-checker/splunk_checker/upgrade_cluster?output_mode=json",
                            type: 'GET',
                            success: function (data) {
                                // No progress can be found.
                                if (data.entry.length === 0) {
                                    IS_SHOW_PROGRESS = false;
                                    return;
                                }

                                // Analyze progress from rest endpoint.
                                var total_num, finish_num;
                                for (var id in progress_done) {
                                    progress_done[id] = true;
                                }
                                for (var i = 0; i < data.entry.length; ++i) {
                                    finish_num = 0;
                                    total_num = 0;
                                    var json_obj = JSON.parse(data.entry[i].content.upgrade_progress);
                                    var cluster_id = json_obj.cluster_id;
                                    if (!(cluster_id in progress_elements)) {
                                        // Add the progress bar.
                                        progress_elements[cluster_id] = addProgressBar(cluster_id);
                                    }

                                    var [progress_bar, progress_label] = progress_elements[cluster_id];
                                    label_content = json_obj.name;
                                    // Check progress.
                                    for (var peer in json_obj.progress) {
                                        total_num++;
                                        if (json_obj.progress[peer] === "Done") {
                                            finish_num++;
                                        }
                                    }
                                    progress_done[cluster_id] = false;
                                    setProgressBar(progress_bar, progress_label, label_content, finish_num, total_num);
                                }
                                for (var id in progress_done) {
                                    if (progress_done[id]) {
                                        // Set to show `finish`.
                                        [progress_bar, progress_label] = progress_elements[id];
                                        setProgressBar(progress_bar, progress_label, "", 0, 0);
                                        delete progress_done[id];
                                    }
                                }
                            }
                        });
                        setTimeout(frame, 1000);
                    }
                }

                function setProgressBar(progress_bar, progress_label, label_content, finish_num, total_num) {
                    var init_width = 0, width = 0;
                    if (label_content) {
                        switch (label_content) {
                            case "stopping_cluster":
                                init_width = 0;
                                width = init_width + finish_num / total_num * 100 / 4;
                                break;
                            case "upgrading_cluster":
                                init_width = 1 / 4 * 100;
                                width = init_width + finish_num / total_num * 100 / 2;
                                break;
                            case "starting_cluster":
                                init_width = 3 / 4 * 100;
                                width = init_width + finish_num / total_num * 100 / 4;
                                break;
                        }
                        // Update the progress bar.
                        progress_bar.style.width = width + '%';
                        label_content += '(' + finish_num + '/' + total_num + ')';
                        progress_label.innerHTML = label_content;
                    }
                    else {
                        // The upgrade is finished if cannot find corresponding progress from kvstore.
                        progress_bar.style.width = '100%';
                        label_content += 'Finish!';
                        progress_label.innerHTML = label_content;
                    }
                }

                // TODO: Add more details with onmouseenter event.
                function addProgressBar(cluster_id) {
                    /**
                     * Add a progress bar element at the end of given element.
                     * @param cluster_id: the cluster id to display on the progress bar.
                     * @param container_elem: the element to append the created progress bar.
                     * @return
                     */
                    var container_elem = $("#upgrade_container")[0];
                    var upgrade_bar = createElement("div", {"className": "UpgradeBar"});
                    var progress_bar = createElement("div", {"className": "ProgressBar"});
                    var progress_label = createElement("div", {"className": "ProgressLabel", "innerHTML": "0%"});
                    container_elem.appendChild(upgrade_bar);
                    upgrade_bar.appendChild(progress_bar);
                    upgrade_bar.appendChild(createElement("p", {"className": "UpgradeText", "innerHTML": cluster_id}));
                    progress_bar.appendChild(progress_label);
                    return [progress_bar, progress_label];
                }

                function createElement(name, props) {
                    /**
                     * This is a helper function to create element with properties.
                     */
                    var el = document.createElement(name);
                    for (var p in props)
                        el[p] = props[p];
                    return el;
                }
            });
        });
    </script>

</body>
</html>
