<%!
# retrieve settings
isLite = (cherrypy.config['product_type'] == 'lite' or cherrypy.config['product_type'] == 'lite_free')

if cherrypy.config['product_type'] == 'hunk':
    faviconFile = 'favicon_hunk.ico'
elif isLite:
    faviconFile = 'favicon_lite.ico'
else:
    faviconFile = 'favicon.ico'

faviconFilePath = '/static/img/' + faviconFile

config_qs = dict(autoload=1)
if hasattr(cherrypy.request, 'embed') and cherrypy.request.embed:
    config_qs['embed'] = 1
%>\

<%
''' Page-level execution. Executed once per load '''
minify_js = splunk.util.normalizeBoolean(cherrypy.config.get('minify_js'))
minify_css = splunk.util.normalizeBoolean(cherrypy.config.get('minify_css'))

app_name = app

splk_root = "/static"
splk_css_build = splk_root + "/css/build"
splk_js = splk_root + "/js"
splk_js_contrib = splk_js + "/contrib"
splk_js_profiles = splk_js + "/profiles"

app_root = "/".join([splk_root,"app",app_name])
app_img = app_root + "/img"

app_js = app_root + '/js'
app_js_pages = app_js + "/pages"
app_js_profiles = app_js + "/profiles"
app_js_contrib = app_js + '/contrib'

app_less = app_root + "/less"

app_js_build = app_root + '/js/build'
app_css_build = app_root + '/css'

pageJSName = page+'_page'

# optimized js and css
# app_css ="%s/common.css" % app_css_build
app_css ="%s/%s.css" % (app_css_build, page)
splunk_css = "%s/bootstrap.min.css" % splk_css_build
page_css = "%s/pages/%s/bootstrap.css" % (app_css_build ,str(page))

page_common_js = "%s/common.js" % app_js_build
page_js = "%s/%s.js" % (app_js_build ,pageJSName)
page_less = "%s/pages/%s/bootstrap.less" % (app_less ,page)

%>\

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
</head>
<body>
    <h3>Configure Environment for Splunk Checker</h3>

    <p>Cluster ID</p>
    <input id="cluster_id">

    <p>Please input splunk uri (e.g. https://systest-auto-idx1:1901):</p>
    <input id="splunk_uri">

    <p>Username:</p>
    <input id="username">

    <p>Role:</p>
    <form action="action_page.php">
      <select id="role_select" name="role">
        <option value="master">Master</option>
        <option value="indexer">Indexer</option>
        <option value="searchhead">Search Head</option>
        <option value="forwarder">Forwarder</option>
      </select>
      <br><br>
    </form>

    <p>Password:</p>
    <input id="password">

    <!--Splunk will put the files under appserver/static/ to someplace like this-->
    <!--<script src="/static/app/splunk-checker/configuration.js"></script>-->
    <script src="${make_url('/config', _qs=config_qs)}"></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <script src="${make_url(splk_js_contrib + '/require.js')}"></script>
    <script src="${make_url(splk_js_profiles + '/shared.js')}"></script>
    <script>
        require.config({
            baseUrl: "${make_url('/static/js')}",
            shim: {
                'bootstrap': {
                    deps: ['jquery']
                },
                'select2': {
                    deps: ['jquery']
                }
            },
            paths: {
                'app': '../app/${app_name}/js',
                'lib': '../app/${app_name}/js/lib',
                'bootstrap': '../app/${app_name}/bootstrap/js/bootstrap.min',
                'select2': '../app/${app_name}/js/lib/select2-3.5.2'
            },
            enforceDefine: false,
            // paths: {'app': '../app/${app_name}/js'},
            waitSeconds: 0
        });
    </script>
    <script>
        require(['jquery','splunkjs/mvc/headerview'], function($){
            $(document).ready(function(){
                $("button").click(function(){
                    $.ajax({
                        url:"/en-US/splunkd/__raw/servicesNS/nobody/splunk-checker/splunk_checker/store_cluster_info?output_mode=json",
                        type: 'POST',
                        data: {
                            name: "test",
                            cluster_id: $("#cluster_id").val(),
                            splunk_uri: $("#splunk_uri").val(),
                            username: $("#username").val(),
                            password: $("#password").val(),
                            role: $("#role_select").val()
                        }
                    });
                });
            });
        });
    </script>
    <button type="button">Add peer!</button>
    <p id="add_success"></p>

    <p id="rest_info"></p>
</body>
</html>
